[user]
	email = aasmund.haugse@gmail.com
	name = asmundh
[core]
	editor = vim
[alias]
	ca = commit --amend
	can = commit --amend --no-edit
	caa = commit -a --amend --no-edit
        cam = commit -am
        comit = commit
	pushf = push --force-with-lease
	pul = pull 
        sth = stash
	rc = rebase --continue
	ra = rebase --abort
	diff = difftool -y
        puhs = push
        cam = commit -am
        glog = log --oneline --decorate --color --graph
        glogfile = git log --all --

[tig "bind"]
    main = = !git commit --fixup=%(commit)
    main = <Ctrl-R> !git rebase --autosquash -i %(commit)
[diff]
	tool = vimdiff
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
