"" Source your .vimrc
source ~/.vimrc

Plug 'easymotion/vim-easymotion'

" Do incremental searching.
set incsearch

" Emulate vim-surround plugin
set surround

" Emulate vim-visual-multi
set vim-visual-multi

" Emulate nerdtree plugin
Plug 'preservim/nerdtree'

" Emulate vim-quickscope plugin
map Q gq

" Emulate vim-exchange plugin
set quickscope

" Emulate highlightedyank plugin
set highlightedyank
let g:highlightedyank_highlight_duration = 500" Persist highlighting in vim-highlightedyank

" Don't use Ex mode, use Q for formatting.
set exchange

"" Move methods
nnoremap [ :action MethodUp<CR>
nnoremap ] :action MethodDown<CR>

nmap <leader>/ <Plug>(easymotion-s)

" Set leader to space
let mapleader=" "

" Open and close terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

"" -- NERDTree --
let g:NERDTreeQuitOnOpen =
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'

" Open NERDTree
nnoremap <leader>o :NERDTree<CR>

" Mnemonic navigation
nnoremap <leader>mm :action ToggleBookmarkWithMnemonic<CR>
nnoremap <leader>mt :action ShowTypeBookmarks<CR>
nnoremap <leader>mr :action ToggleBookmark<CR>

" Refactor
nnoremap <leader>rs :action SurroundWith<CR>
nnoremap <leader>rr :action RefactoringMenu<CR>
nnoremap <leader>k :action RefactoringMenu<CR>

" Documentation
nnoremap <leader><leader>d :action QuickJavaDoc<CR>
nnoremap <leader><leader>f :action ToggleRenderedDocPresentationForAll<CR>

" Enter distraction free mod
nnoremap <leader>dist :action ToggleDistractionFreeMode<CR>

"" Tab/window handling
nnoremap <leader>w :action CloseContent<CR>
nnoremap <leader>W :action MoveTabRight<CR>
nnoremap <leader>T :action ReopenClosedTab<CR>
nnoremap <leader>mv :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader><leader>b :action ActivateDatabaseToolWindow<CR>
nnoremap <leader><leader>g :action ExternalSystem.ProjectRefreshAction<CR>
nnoremap <leader><leader>l :action ManageRecentProjects<CR>

"" File/file content navigation
nnoremap <leader>p :action GotoFile<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>F :action Find<CR>
nnoremap <leader>g :action GotoDeclaration<CR>
nnoremap <leader>z :action SelectInProjectView<CR>

nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>z :action Vcs.RollbackChangedLines<CR

nnoremap <leader>e :action ShowErrorDescription<CR>

nnoremap <leader>h :action Replace<CR>
nnoremap <leader>H :action ReplaceInPath<CR>

nnoremap <leader>+ :action EditorIncreaseFontSize<CR>
nnoremap <leader>- :action EditorDecreaseFontSize<CR>

nnoremap <leader><leader>r :action ExternalSystem.ProjectRefreshAction<CR>
set clipboard^=ideaput
