"" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
Plug 'preservim/nerdtree'
Plug 'easymotion/vim-easymotion'

" Do incremental searching.
set incsearch

" Emulate vim-surround plugin
set surround

" Don't use Ex mode, use Q for formatting.
map Q gq

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" Move methods
nnoremap [ :action MethodUp<CR>
nnoremap ] :action MethodDown<CR>

nmap <leader>/ <Plug>(easymotion-s)

" Set leader to space
let mapleader=" "

" Open and close terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

"" -- NERDTree --
let g:NERDTreeQuitOnOpen =
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'

"" Open NERDTree
nnoremap <leader>o :NERDTree<CR>

" Refactor
nnoremap <leader>rs :action SurroundWith<CR>
nnoremap <leader>rr :action RefactoringMenu<CR>
nnoremap <leader>k :action RefactoringMenu<CR>

" Documentation
nnoremap <leader>d :action QuickJavaDoc<CR>
nnoremap <leader><leader>d :action ExternalJavaDoc<CR>
nnoremap <leader><leader>f :action ToggleRenderedDocPresentationForAll<CR>

"" Map <leader>d to start debug
map <leader>d <Action>(Debug)

"" Tab/window handling
nnoremap <leader>w :action CloseContent<CR>
nnoremap <leader>W :action MoveTabRight<CR>
nnoremap <leader>T :action ReopenClosedTab<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader><leader>b :action ActivateDatabaseToolWindow<CR>

"" File/file content navigation
nnoremap <leader>p :action GotoFile<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>g :action GotoDeclaration<CR>
nnoremap <leader>z :action SelectInProjectView<CR>

nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>

nnoremap <leader>e :action ShowErrorDescription<CR>

nnoremap <leader>h :action Replace<CR>

nnoremap <leader>+ :action EditorIncreaseFontSize<CR>
nnoremap <leader>- :action EditorDecreaseFontSize<CR>

nnoremap <leader><leader>g :action ExternalSystem.ProjectRefreshAction<CR>